@using Microsoft.AspNet.Identity
@{
    Entities db = new Entities();
    IEnumerable<Tour> models = db.Tour.ToList()
        .Where(item => item.UserId == User.Identity.GetUserId())
        .OrderByDescending(item => item.Id);
    ViewBag.Title = "My Virtual Tours";
}
@if (Request.IsAuthenticated)
{
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default panel-tourd">
            <div class="panel-heading">
                <h4 class="panel-title">My Virtual Tours</h4>
            </div>
            @if (models.Count() > 0)
            {
                <div class="list-group">
                    @foreach (var item in models)
                    {
                        <a class="list-group-item" href="@Url.Action("Details", "Tour", new { id = item.Id })">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    }
                </div>
            } else
            {
                <div class="panel-body">
                    Nothing yet :(
                </div>
            }
            <div class="panel-footer text-right">
                @Html.ActionLink("Manage Panoramas", "Index", "Panorama")
            </div>
        </div>
    </div>
}
