@{
    var createPanoLink = @Url.Action("CreatePanorama", "Panorama") + "?id=" + ViewBag.PanoId;
}
<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h2>  We need some more information to create your perfect pano!</h2>

            <form class="create-panorama-form">
                <div class="row">
                    <div class="col-md-6">
                        <label for="panoramaType">Panorama type:</label>
                        <select id="panoramaType" name="panoramaType" class="panorama-type form-control">
                            <option value="sphere">sphere</option>
                            <option value="cylinder">cylinder</option>
                            <option value="flat">flat</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="panoramaType">Horizontal field of view (0 - 360):</label>
                        <input type="text" id="panoramaHfov" name="panoramaHfov" value="360" class="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="panoramaType">Vertical field of view (0 - 180):</label>
                        <input type="text" id="panoramaVfov" name="panoramaVfov" value="180" class="form-control"/>
                    </div>
                </div>

            </form> 

            <a id="createPanoLink" href="@createPanoLink" class="btn btn-lg btn-info">Yes! Create my pano</a>

            <img src="http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif.pagespeed.ce.DETazxsDgB.gif" width="200px" id="imgLoader" style="display: none;" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <script src="/Krpano/pano.js"></script>
            <div id="panoContainer" class="krpano-admin-preview"></div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var $hfov = $('#panoramaHfov');
        var $vfov = $('#panoramaVfov');
        var $type = $('#panoramaType');
        var $loader = $("#imgLoader");
        var id = "@ViewBag.PanoId";

        $('#createPanoLink').on('click', function (e) {
            $loader.show();
            e.preventDefault();
            $.ajax({
                url: this.href,
                data: {
                    type: $type.val(),
                    hfov: $hfov.val(),
                    vfov: $vfov.val()
                }
            })
           .then(function () {
               $loader.hide();
               removepano('createPano');
               embedpano({
                    id: 'createPano',
                    swf: '/Documents/Panoramas/' + id + '/pano.swf',
                    xml: '/Documents/Panoramas/' + id + '/pano.xml',
                    target: "panoContainer",
                    html5: "auto",
                    mobilescale: 1.0,
                    passQueryParameters: true
               });
           });
        });
    });
</script>