@model KrpanoCMS.Panorama

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Panorama viewer</h4>
    <hr />
    <iframe src="/Documents/Panoramas/@Model.Id/index.html"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"
            frameborder="0" scrolling="no" class="krpano-preview"></iframe>
    <hr />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
