@model KrpanoCMS.Panorama

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <script src="/Krpano/pano.js"></script>
    <div id="panoContainer" class="krpano-preview">
        <script>
            var krpanoAPI = {
                fetch: function (callback) {
                    $.ajax({
                        method: 'GET',
                        url: '/Hotspots/' + @Model.Id,
                        success: function (result) {
                            callback(hotspots);
                        }
                    });
                }
            };
            embedpano({
                swf: "/Documents/Panoramas/@Model.Id/pano.swf",
                xml: "/Documents/Panoramas/@Model.Id/pano.xml",
                target: "panoContainer",
                html5: "auto",
                mobilescale: 1.0,
                passQueryParameters: true
            });
        </script>
    </div>
    <hr />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
