@{
    ViewBag.Title = "About";
}
<h2>Team</h2>


<ul>
    <li>
        <a href="https://github.com/frvasileva" target="_blank">Fanka Vasileva</a>
    </li>
    <li>
        <a href="https://github.com/vbachev" target="_blank">Vasil Bachev</a>
    </li>
    <li>
        <a href="" target="_blank">Boyan Punchev</a>
    </li>
</ul>