@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Krpano CMS</h1>
    <p class="lead">Krpano CMS is created for you!</p>
    <p><a href="http://asp.net" class="btn btn-default btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>What is Krpano</h2>
        <p>
            The krpano Viewer is a small and very flexible high-performance viewer for all kind of panoramic images and interactive virtual tours.
            The viewer is available as Flash and HTML5 application.
            <br />
            The viewer is designed for the usage inside the Browser on Desktop (Windows, Mac, Linux) and on Mobiles/Tablets (iPhone, iPad, Android, ...).
        </p>
        <p><a class="btn btn-default" href="https://krpano.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Features</h2>
        <p>
            Flash and HTML5
            The krpano Panorama Viewer is available as Flash and HTML5 viewer. Both viewers have and use the same interfaces for controlling the panos and the layout.
            The rendering-performance and the image-quality were and are one of the two most important features in the krpano development. Additionally there are also strong development demands to keep the viewer itself as small and efficient as possible.
        </p>
        <p><a class="btn btn-default" href="https://krpano.com/#features">Learn more &raquo;</a></p>
    </div>

</div>